html.dark {
  @apply bg-neutral-950;
}
html,
body {
  @apply min-h-full text-neutral-950 w-full bg-neutral-50 font-sans antialiased dark:bg-black dark:text-white;
  -webkit-text-size-adjust: 100%;

  .tippy-box {
    @apply rounded-lg text-sm;
    &[data-theme~="light"] {
      @apply bg-white bg-opacity-70 shadow backdrop-blur;

      &[data-placement^="top"] > .tippy-arrow:before {
        @apply -bottom-[8px] border-t-white/70;
      }
      &[data-placement^="bottom"] > .tippy-arrow:before {
        @apply -top-[8px] border-b-white/70;
      }
    }
  }
}
button, a { -webkit-tap-highlight-color: transparent; }